{% include "menu/index.html" %}
<div class="navbar">
    <div class="container">
        <div class="logo">
            <img src="https://www.sicredi.com.br/static/home/assets/header/logo-svg2.svg" alt="">
        </div>
        <div class="access">
            <select id="access-option">
                <option value="Acessar conta com">Acessar conta com</option>
                <option value="CPF">CPF</option>
                <option value="Número da Conta">Número da Conta</option>
            </select>
            <input id="access-input" disabled type="text" placeholder="Escolha uma opção">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="right">
            <button>Abra sua conta</button>
            <div class="buttons">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="toggle-menu stack">
                    <i class="fa-sharp fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</div>



