{% load replace %}

<div id="menu" class="hide">
  <i class="fa fa-close toggle-menu"></i>
  <div class="items">
      <div class="item">
          <div class="title">Sobre nós</div>
          <ul>
              <li><a href="#">Localizar Agência</a></li>
              <li><a href="#">Fale Conosco</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Atendimento</a></li>    
          </ul>
      </div>
      <div class="item">
          <div class="title">Sobre nós</div>
          <ul>
              <li><a href="#">Localizar Agência</a></li>
              <li><a href="#">Fale Conosco</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Atendimento</a></li>    
          </ul>
      </div>
  </div>
  <div class="open-account">Abra sua conta</div>
  <div class="access-account">Acesse sua conta</div>
</div>